*{
    font-family: lato, sans-serif;
}

h1{
    color: rgb(0, 108, 7);
    font-weight: 500;
}

h5{
    color: green;
    font-weight: 300;
    font-size: 14px;
}

p{
    color: black;
    font-size: 13px;
    font-weight: 300;
}

.homeHelpInfo{
    margin: 20px;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 30vh;
}

